{
    "printWidth": 300,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": [
        "prettier-plugin-django"
    ],
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "django"
            }
        }
    ]
}