{
    "printWidth": 350,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "semi": true,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "html",
                "proseWrap": "never",
                "singleAttributePerLine": false
            }
        }
    ]
}
